# Build artifacts
kernel
fs.img
*.o
*.d
*.elf
*.img

# Editor and OS files
.vscode/
.idea/
*.swp
*~
.DS_Store

# Python cache
__pycache__/

# Misc
.cache/
*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
TAGS
